body{
background-color: rgb(33, 0, 181);
}

.Menu{
   font-family: 'open sans';
   display:inline-block
}

.Menu:hover{
   color: aliceblue;
   cursor: pointer;
}

.titulo-page{
font-family: Arial, Helvetica, sans-serif;
text-align: center;
}

.form{
   position: absolute;
   left: 550px;
}

#button-submit{
   background-color: cornflowerblue;
   border-style: solid;
   border-radius: 5px;
}

#input-text{
   background-color: darkslategray;
   border-color: black;
   border-radius: 3px;
}